* {
    padding: 0;
    box-sizing: border-box;
    background-size: auto;
    background: url(https://s3-alpha-sig.figma.com/img/b708/9961/164dd3d96eb61bd7b4822bb8e0953967?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LaUnwu6G1AY2xuyEwkkXvFzhG1dXFyhVleErRnHv4BoUbYpfUP4Gc0rnxFCI4NJ9bEpS1F~rj1J5WLmrkTfwNbfjkq8gFvASZ8BVVvHg2R5hDkIziAO4cRZovfw0trVxFnLyKzaLz2D1wn470GE4wP2h2AmpGJRRTxl1HwXRu0-c2NU2GiD~7h9bb3FzLoDhJrRn-NdkH6cpijFzFDs9oUKDc~gbQW~Bl2YkA99yPC8BLKSN8DvSa0tIQd9DDVX~402S7XK3a8f2hAY73xVcYnVUG6CM9eChnHemXXUsGrK-PNym9a0jk7Kb1gJD3VZO1iOu7uoGjBF8bLc-kaKl1A__);
    font-family: Josefin Sans;
}

.contato {
    display: flex;
    gap: 32px;
    color: white;
    justify-content: flex-start;
    margin-top: 35px;
    margin-left: 135px;
}

.social {
    display: flex;
    gap: 32px;
    color: white;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 135px;
}

.barra-branca {
    display: flex;
    background: #ffffff;
    align-items: center;
    width: 80%;
    height: 60px;
    margin-left: 135px;
    margin-top: 35px;
    border-radius: 5px;
}

.barra-branca .primeiro {
    display: flex;
    background: #ffffff;
    gap: 32px;
}

li a {
    background: #ffffff;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #232233;

}

li {
    list-style: none;
}

.barra-branca .primeiro .Home {
    margin-left: 75px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.barra-branca .ultimo {
    display: flex;
    background: #ffffff;
    gap: 32px;
    margin-left: 315px;
}

.caixa-branca {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 570px;
    height: 432px;
    top: 372px;
    left: 135px;
    margin-top: 230px;
    margin-left: 80px;

}

.caixa-branca .titulo-caixa {
    display: flex;
    background: white;
    margin-left: 40px;
    width: 517px;
    height: 126px;
    color: purple;
    font-size: 40px;


}

.caixa-branca .texto-caixa {
    display: flex;
    background: white;
    margin-left: 40px;
    font-size: 20px;

}

.caixa-branca .texto-caixa-2 {
    display: flex;
    margin-left: 40px;
    color: black;
    background: white;
}