* {
    padding: 0;
    box-sizing: border-box;
    background-size: auto;
    background: url(https://s3-alpha-sig.figma.com/img/b708/9961/164dd3d96eb61bd7b4822bb8e0953967?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LaUnwu6G1AY2xuyEwkkXvFzhG1dXFyhVleErRnHv4BoUbYpfUP4Gc0rnxFCI4NJ9bEpS1F~rj1J5WLmrkTfwNbfjkq8gFvASZ8BVVvHg2R5hDkIziAO4cRZovfw0trVxFnLyKzaLz2D1wn470GE4wP2h2AmpGJRRTxl1HwXRu0-c2NU2GiD~7h9bb3FzLoDhJrRn-NdkH6cpijFzFDs9oUKDc~gbQW~Bl2YkA99yPC8BLKSN8DvSa0tIQd9DDVX~402S7XK3a8f2hAY73xVcYnVUG6CM9eChnHemXXUsGrK-PNym9a0jk7Kb1gJD3VZO1iOu7uoGjBF8bLc-kaKl1A__);
    font-family: Josefin Sans;
}

.header {
    padding-bottom: 50px;
}

.contato {
    display: flex;
    gap: 32px;
    color: white;
    justify-content: flex-start;
    margin-top: 35px;
    margin-left: 135px;
    background: transparent;
}

.social {
    display: flex;
    gap: 32px;
    color: white;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 135px;
    background: transparent;
}

.barra-branca {
    display: flex;
    background: #ffffff;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    height: 60px;
    margin-top: 35px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 2%;
}

.barra-branca .primeiro {
    display: flex;
    background: #ffffff;
    gap: 32px;
    margin-left: 75px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.barra-branca .primeiro .Home {
    color: royalblue;
    text-decoration: underline;
}

.barra-branca .ultimo {
    display: flex;
    background: #ffffff;
    gap: 32px;

}

li {
    list-style: none;
}

li a {
    background: #ffffff;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #232233;

}

.caixa-branca {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 30%;
    height: 50%;
    top: 372px;
    left: 135px;
    margin-top: 250px;
    margin-left: 100px;
    border-radius: 5px;
    padding: 2%;
}

.caixa-branca .titulo-caixa {
    display: flex;
    background: white;
    margin-left: 40px;
    width: auto;
    height: 126px;
    color: royalblue;
    font-size: 48.83px;
}

.caixa-branca .texto-caixa {
    display: flex;
    background: white;
    color: gray;
    margin-left: 40px;
    font-size: 20px;
    margin-top: -40px;
    line-height: 24px;
    margin-bottom: 50px;
}

.caixa-branca .texto-caixa-2 {
    display: flex;
    margin-left: 40px;
    color: black;
    background: white;
    font-size: 20px;
}

.imagem-celular {
    position: absolute;
    left: 45%;
    top: 10%;
    width: 18%;
    height: 65%;

}

.div-grande {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 150px;
}

.div-grande .imagem-celular {
    margin-left: 500px;
    margin-top: 100px;
    background: transparent;
}

.div-grande .caixa-branca .google-play {
    background: white;
    height: 80px;
    width: 328px;
    margin-left: 40px;
    margin-top: -20px;
}

.quadrado-branco {
    background: #ffffff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.quadrado-branco .img-celular {
    display: flex;
    width: 386px;
    height: 526px;
    top: 260px;
    background: transparent;
    left: 10%;
    position: absolute;
}

.quadrado-branco h1 {
    color: #232233;
    background: transparent;
    display: flex;
    width: 265px;
    height: 200px;
    left: 42%;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.quadrado-branco h2 {
    color: gray;
    background: transparent;
    display: flex;
    width: 601px;
    height: 70px;
    top: 17%;
    left: 33%;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
