* {
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(22, 168, 99);
    font-family: Josefin Sans;
}

.header {
    padding-bottom: 50px;
}

.contato {
    display: flex;
    gap: 32px;
    color: white;
    justify-content: flex-start;
    margin-top: 35px;
    margin-left: 135px;
    background: transparent;
}

.social {
    display: flex;
    gap: 32px;
    color: white;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 135px;
    background: transparent;
}

.barra-branca {
    display: flex;
    background: #ffffff;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    height: 60px;
    margin-top: 35px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 2%;
}

.barra-branca .primeiro {
    display: flex;
    background: #ffffff;
    gap: 32px;
    margin-left: 75px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.barra-branca .primeiro .Home {
    color: royalblue;
    text-decoration: underline;
}

.barra-branca .ultimo {
    display: flex;
    background: #ffffff;
    gap: 32px;

}

li {
    list-style: none;
}

li a {
    background: #ffffff;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #232233;

}

.caixa-branca {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 30%;
    height: 50%;
    margin-top: -60px;
    margin-left: 100px;
    border-radius: 5px;
    padding: 2%;
    z-index: 1;
}

.caixa-branca .titulo-caixa {
    display: flex;
    background: white;
    margin-left: 40px;
    width: auto;
    height: 126px;
    color: royalblue;
    font-size: 48.83px;
}

.caixa-branca .texto-caixa {
    display: flex;
    background: white;
    color: gray;
    margin-left: 40px;
    font-size: 20px;
    margin-top: -40px;
    line-height: 24px;
    margin-bottom: 50px;
}

.caixa-branca .texto-caixa-2 {
    display: flex;
    margin-left: 40px;
    color: black;
    background: white;
    font-size: 20px;
}

.listra-azul {
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 30%;
    height: 90%;
    left: 85px;
    margin-top: 250px;
    margin-left: 100px;
    border-radius: 5px;
    padding: 2%;
    border: 18px solid #7572FF;
    z-index: 0;
    position: relative;
}

.imagem-celular {
    position: absolute;
    left: 45%;
    top: 10%;
    width: 18%;
    height: 65%;

}

.div-grande {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 150px;
}

.div-grande .imagem-celular {
    margin-left: 500px;
    margin-top: 100px;
    background: transparent;
}

.div-grande .caixa-branca .google-play {
    background: white;
    height: 80px;
    width: 328px;
    margin-left: 40px;
    margin-top: -20px;
}

.quadrado-branco {
    display: flex;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.quadrado-branco .img-celular {
    display: flex;
    width: 386px;
    height: 526px;
    top: 260px;
    background: transparent;
    left: 10%;
    position: absolute;
}

.quadrado-branco .caixas-brancas-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 650px;
    position: absolute;
    left: 55%;
    top: 30%;
    border-radius: 10px;
    background-color: white;
    
}

.quadrado-branco .caixas-brancas-2 .container-pequeno {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    width: 750px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}

.quadrado-branco .caixas-brancas-2 .container-pequeno .icone-verificado-1 {
    background-color: white;
    width: 35px;
    height: 35px;
    margin-top: 25px;
    margin-left: 25px;
}

.quadrado-branco .caixas-brancas-2 .container-pequeno .container-texto {
    color: black;
    position: absolute;
    top: -27px;
    left: -265px;
    padding: 10px;
    font-size: 32px;
}

.quadrado-branco .caixas-brancas-2 .container-pequeno .texto-dentro-1 {
    position: absolute;
    top: 75px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    left: 50px;
}

.quadrado-branco .caixas-brancas-2 .container-pequeno .icone-verificado-2 {
    background-color: white;
    width: 35px;
    height: 35px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 100px;
}

.quadrado-branco .caixas-brancas-2 .container-pequeno .container-texto-2 {
    color: black;
    position: absolute;
    top: 190px;
    left: -307px;
    padding: 10px;
    font-size: 32px;
}

.quadrado-branco .caixas-brancas-2 .container-pequeno .texto-dentro-2 {
    position: absolute;
    top: 290px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    left: 50px;
}

.quadrado-branco .caixas-brancas-2 .container-pequeno .icone-verificado-3 {
    background-color: white;
    width: 35px;
    height: 35px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 100px;
}



.quadrado-branco .caixas-brancas-2 .container-pequeno .container-texto-3 {
    color: black;
    position: absolute;
    top: 405px;
    left: -228px;
    padding: 10px;
    font-size: 32px;
}

.quadrado-branco .caixas-brancas-2 .container-pequeno .texto-dentro-3 {
    position: absolute;
    top: 505px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    left: 50px;
}

.quadrado-branco h1 {
    color: #232233;
    background: transparent;
    display: flex;
    width: 15vw;
    height: 200px;
    left: 42%;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.quadrado-branco h2 {
    color: gray;
    background: transparent;
    display: flex;
    width: 40vw;
    height: 10vh;
    top: 17%;
    left: 29%;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.parte3 {
    width: 1440px;
    height: 1710px;
}

.parte3 h1 {
    color: white;
    background: transparent;
    display: flex;
    width: 15vw;
    height: 200px;
    left: 42%;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.parte3 h2 {
    color: white;
    background: transparent;
    display: flex;
    width: 40vw;
    height: 45vh;
    left: 29%;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.bloco1 span {
    display: flex;
    position: relative;
    background: transparent;
    width: 50vw;
    height: 50vh;
    top: 316px;
    left: 30%;
    color: white;
    padding: 2%;
    justify-content: center;
    font-size: 50px;
}

.bloco1 h1 {
    display: flex;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    width: 12vw;
    height: 1vh;
    top: 50%;
    left: 53.8%;
    justify-content: center;
}

.bloco1 h2 {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 297px;
    height: 7vh;
    left: 41%;
}

.parte3 .img-celular2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 50vw;
    height: 660vh;
    top: 20%;
    left: 24%;
    position: absolute;
}

.bloco2 span {
    display: flex;
    position: absolute;
    background: transparent;
    width: 50vw;
    height: 50vh;
    top: 312%;
    left: 40%;
    color: white;
    padding: 2%;
    justify-content: center;
    font-size: 50px;
}

.bloco2 h1 {
    display: flex;
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    width: 65vw;
    height: 25vh;
    top: 312%;
    left: 40%;
    justify-content: center;
}

.bloco2 h2 {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 68vw;
    height: 38vh;
    left: 40%;
    top: 312%;
}

.bloco3 span {
    display: flex;
    position: absolute;
    background: transparent;
    width: 50vw;
    height: 50vh;
    top: 372%;
    left: 40%;
    color: white;
    padding: 2%;
    justify-content: center;
    font-size: 50px;
}

.bloco3 h1 {
    display: flex;
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    width: 65vw;
    height: 25vh;
    top: 372%;
    left: 40%;
    justify-content: center;
}

.bloco3 h2 {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 66.5vw;
    height: 38vh;
    left: 40%;
    top: 372%;
}

.bloco4 span {
    display: flex;
    position: absolute;
    background: transparent;
    width: 50vw;
    height: 50vh;
    top: 312%;
    left: 8%;
    color: white;
    padding: 2%;
    justify-content: center;
    font-size: 50px;
}

.bloco4 h1 {
    display: flex;
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    width: 65vw;
    height: 25vh;
    top: 312%;
    left: -6%;
    justify-content: center;
}

.bloco4 h2 {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 68vw;
    height: 38vh;
    left: -9.8%;
    top: 312%;
}

.bloco5 span {
    display: flex;
    position: absolute;
    background: transparent;
    width: 50vw;
    height: 50vh;
    top: 372%;
    left: 8%;
    color: white;
    padding: 2%;
    justify-content: center;
    font-size: 50px;
}

.bloco5 h1 {
    display: flex;
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    width: 65vw;
    height: 25vh;
    top: 372%;
    left: -5%;
    justify-content: center;
}

.bloco5 h2 {
    display: flex;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 66.5vw;
    height: 38vh;
    left: -9%;
    top: 372%;
}

.parte4 {
    background: #ffffff;
    width: 110%;
    height: 1810px;
}

.parte4 h1 {
    color: black;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 625px;
    height: 48px;
    left: 32%;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    top: 460%;
}

.parte4 h2 {
    background: white;
    width: 601px;
    height: 70px;
    top: 472%;
    left: 32.5%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
}

.parte4 .smart {
    display: flex;
    background: transparent;
    position: absolute;
    top: 490%;
    left: 40%;
}

.parte4 h3 {
    color: black;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 625px;
    height: 48px;
    left: 2%;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    top: 580%;
}

.parte4 h4 {
    display: flex;
    background: black;
    background: transparent;
    width: 601px;
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 590%;
    left: 8%;
}

.parte4 .play {
    background: transparent;
    display: flex;
    position: absolute;
    width: 151px;
    height: 95px;
    top: 605%;
    left: 8%;
}

.parte4 .phone {
    position: absolute;
    width: 516px;
    height: 480px;
    left: 58%;
    top: 585%;
    background: transparent;
}

.parte4 .bloco-roxo {
    background: rgba(88, 81, 234, 1);
    width: 170px;
    height: 186px;
    top: 625%;
    left: 8%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.parte4 .bloco-roxo span {
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 15%;
    left: 36%;
    position: absolute;
    font-size: 50px;
}

.parte4 .bloco-roxo h1 {
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 40%;
    left: 42%;
    position: absolute;
    font-size: 25px;
}

.parte4 .bloco-roxo h2 {
    background: transparent;
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 60%;
    left: 15%;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
}

.parte4 .bloco-roxo2 {
    background: rgba(88, 81, 234, 1);
    width: 170px;
    height: 186px;
    top: 625%;
    left: 20%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.parte4 .bloco-roxo2 span {
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 15%;
    left: 36%;
    position: absolute;
    font-size: 50px;
}

.parte4 .bloco-roxo2 h1 {
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 40%;
    left: 42%;
    position: absolute;
    font-size: 25px;
}

.parte4 .bloco-roxo2 h2 {
    background: transparent;
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 60%;
    left: 37%;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
}

.parte4 .bloco-roxo3 {
    background: rgba(88, 81, 234, 1);
    width: 170px;
    height: 186px;
    top: 625%;
    left: 32%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.parte4 .bloco-roxo3 span {
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 15%;
    left: 36%;
    position: absolute;
    font-size: 50px;
}

.parte4 .bloco-roxo3 h1 {
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 40%;
    left: 42%;
    position: absolute;
    font-size: 25px;
}

.parte4 .bloco-roxo3 h2 {
    background: transparent;
    color: #ffffff;
    width: 29.17px;
    height: 26.25px;
    top: 60%;
    left: 27%;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: first baseline;
}
